body{
  width: 600px;
  margin: 0px auto;
  position: relative;
  font-family: 'Arial Narrow Bold', sans-serif;
  h1 {
    font-size: 30px;
  }
  .small-img {
    width: 300px;
  }
  img{
    width: 100%;
    transition: all 1.5s ease-in;
    
  }
  figure{
    position: relative;
    margin: 0;
    border: 5px solid white;
    //box-shadow: -15px 15px 10px black;
    box-shadow: 0 0 4px black;
    display: block;
    cursor: pointer;
    overflow: hidden;
    h1,p{
      transition: all 1s;
    }
    h1{
      transition-delay: 1s;
    }
    p{
      transition-delay: 1.2s;
    }
    &:hover figcaption{
      opacity:1;
      top:0;
      h1,p{
        left: 0;
      }
    }
    &:hover img{
      -webkit-transform: scale(1.1);
    }
  }
  figcaption{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, .6);
    font-size: 22px;
    opacity: 0;
    transition: all .4s ease-in;
    transition-delay: .5s;
    top:-100%;

    h1, p{
      padding: 20px 40px;
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      left:100%;

    }
    h1{
      color: white !important;
      background-color: black;
    }
  }

  .journal{
    /*
    background-color: grey;
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin: auto;
    */
  
    article{
      font-family: 'Dancing Script', cursive;
      margin:55px auto;
      padding: 30px 20px;
      background-color: #fcf59b;
      position: absolute;
      box-shadow: 0 0 10px rgba(0, 0, 0, .3);
      background: -webkit-linear-gradient(top, rgb(192, 232, 241), #fcf59b 2%);
      background-size: 100% 40px;
      h1, p{
        margin-bottom: 30px;
        padding:0 40px;
      }
      h1{
        line-height: 60px;;
      }
      p{
        line-height: 2.5em;
        color: grey;
      }
      &:after, &:before{
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
      &:after{
        background-color: #fcf7b1;
        transform: rotate(4deg);
      }
      &:before{
        background-color: #fcf6a7;
        transform: rotate(-4deg);
      }
    }
    article,
    article:before,
    article:after{
      -webkit-border-bottom-left-radius:20px 500px;
      -webkit-border-bottom-right-radius:500px 30px;
      -webkit-border-top-right-radius:10px 300px;
    }
  }


  
}

